<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbjekmeWVXUIdibT3pFPCYSELO0xJCe0U</string>
	<key>GCM_SENDER_ID</key>
	<string>816789115205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acapplications.ChitChat</string>
	<key>PROJECT_ID</key>
	<string>writesmith---pro-ai-chat-ca69c</string>
	<key>STORAGE_BUCKET</key>
	<string>writesmith---pro-ai-chat-ca69c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:816789115205:ios:7a68554bc45f34596d6e2c</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7814704845493911~1384103978</string>
</dict>
</plist>
